body {
	height: 100%;
	width: 100%;
	background-color: #8aaaaa;
	font-size: 48px;
	font-weight: bold;
}

header {
	width: 85%;
	margin: auto;
	padding: 0.5em;
}

nav {
	display: block;
	position: absolute;
	width: 85%;
	margin-bottom: 0.9em;
	margin-top: 0.9em;
	background: #6D8BAD;
	text-align: center;
}

nav ul {
    margin: auto;
    padding: 0.6.25em;
    list-style: none;
}

nav ul li {
	display: inline-block;
}

.menu {
	display: none;
}

main {
	transform: translate(-50%, -50%);
	width: 85%;
	height: 85%;
	float: left;
}

main section {
	background-color: #8aaaaa;
	margin-top: 2em;
}

main section article {
	background-color: #f2f2f2;
	padding: 0.3em;
	height: 6.25em;
	margin-bottom: 0.5em;
}

#right {
	display: none;
}

#left {
	display: none;
}

.adPhone {
	height: 6.25em;
	background-color: red;
	margin-bottom: 0.5em;
}

footer {
	top: 95%;
	height: 15%;
	width: 100%;
	background-color: #6D8BAD;
	position: absolute;
	
}
