body {
	height: 100%;
	width: 100%;
	background-color: #c4d4d4;
	margin: auto;
	position: absolute;
	font-size: 16px;
}

header{
	width: 95%;
	margin: auto;
	padding: 0.5em;
}

nav {
	display: block;
	position: absolute;
	width: 95%;
	margin-bottom: 0.9em;
	margin-top: 0.9em;
	background: #6D8BAD;
	text-align: center;
}

nav ul {
  padding: 0.625em;
  list-style: none;
}

nav ul li {
	display: inline-block;
	padding: 0% 1%;
}

nav ul li a{
	font-size: 2em;
	text-decoration: none;
	color: black;
}

main {
	left: 50%;
	position: absolute;
	top: 62%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 85%;
	float: left;
}

main section {
	background-color: #8aaaaa;
	width: 85%;
	height: 90%;
	display: flex;
	margin: auto;
	column-count: 2;
	flex-direction: column;
}

main section article {
	background-color: #f2f2f2;
	padding: 0.3em;
	height: 6.25em;
	margin-bottom: 0.5em;
}

.adPhone{
	display: none;
}
.phoneMenu {
  display: none;
}

#adLeft, #adRight {
	position: absolute;
	float:left;
	background-color: red;
	width: 5%;
	padding: 0.5em;
	height: 90%;
}
#adRight {
	position: relative;
	float: right;
	top: -90%;
}

footer {
	position: relative;
	background-color: #6D8BAD;
	top: 95%;
	width: 50%;
	margin: auto;
}
